.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #8c52ff;
  margin: 0;
  padding: 0;
}

.topband {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000092;
  margin: auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
li {
  display: inline;
  background-color: #000092;
  color: white;
  font-size: 33px;
  font-family: "Archivo Black", sans-serif;
}

ul {
  display: inline-flex;
  justify-content: space-between;
}

#qnode {
  font-weight: 800;
  padding-left: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

#submit {
  position: relative;
  transition: transform 0.3s ease;
  top: 5px;
  left: 5px;
  background-color: white;
  font-size: 20px;
  text-align: center;
  height: 30px;
  border-style: none;
  z-index: 1;
  color: black;
  width: 120px;
  margin-left: 40px;
  border-radius: 20px;
}

#botsubmit {
  position: fixed;
  z-index: 0;
  background-color: #000092;
  font-size: 20px;
  text-align: center;
  height: 30px;
  border-style: none;
  color: white;
  width: 120px;
  margin-left: 40px;
  border-radius: 20px;
}

#submit.active {
  position: relative;
  transform: translate(-5px, -5px);
}

#timer {
  display: inline;
}
